# Visual Studio .vs folder
.vs/

# Object directories
**/obj/
**/bin/

# Solution and project cache files
*.suo
*.dtbcache.v2
*.futdcache.v2
*.dgspec.json
*.csproj.FileListAbsolute.txt
*.cache.json
*.dswa.cache.json
*.metadata.v9.bin
*.projects.v9.bin
*.strings.v9.bin
*.exe

# Backup and layout files
DocumentLayout.json
DocumentLayout.backup.json
